#banner {
    position:relative;
    width:500px;
    height:300px;
    border:1px solid #666;
    overflow:hidden;
}
#banner_list {
    width:500px;
    height:300px;
}
#banner_list img {
    width:400px;
    height:250px;
    border:0px;
}
#banner_bg {
    width:500px;
    height:30px;
    position:absolute;
    bottom:0;
    background-color:#000;
    filter:Alpha(Opacity=30);  /*transform IE8 and earlier */
    opacity:0.3;
    z-index:1000;
    cursor:pointer;
}
#banner_info {
   position:absolute;
   bottom:0;
   left:5px;
   line-height:30px;
   color:#fff;
   z-index:1001;
}

#banner_text {
    position:absolute;
    width:200px;
    z-index:1002;
    right:3px;
    bottom:3px;
}
#banner ul {
    position:absolute;
    list-style-type:none;
    filter:Alpha(Opacity=75);
    opacity:0.75;
    border:1px solid #fff;
    z-index:1002;
    margin:0;
    padding:0;
    bottom:5px;
    right:5px;
}
#banner ul li {
    padding:0 8px;
    float:left;
    display:block;
    color:#fff;
    border:1px solid #fff;
    background-color:#6f4f67;
    cursor:pointer;
}
#banner ul li.on {
    background-color:#900;
}
#banner_list a {
    position:absolute;
}
